<mat-list [class.dark-theme]="themeService.isDarkTheme">
    @if (!scriptureService.showChapters()) {
        <div mat-subheader><h3>Books</h3></div>
        @for (book of scriptureService.selectedBooks; track book.id) {
            <mat-list-item>
                <button
                    mat-stroked-button
                    [class.active-book]="book.id === scriptureService.selectedBook?.id"
                    (click)="scriptureService.onBookSelected(book)"
                    tabindex="-1">
                    {{ book.name }}
                </button>
            </mat-list-item>
        }
    } @else {
        <div mat-subheader>
            <button mat-stroked-button color="primary" class="chapter-button" (click)="scriptureService.showChapters.set(false)" tabindex="-1">
                <mat-icon matPrefix>arrow_back</mat-icon>
                {{ this.scriptureService.selectedBook?.name }}
            </button>
        </div>
        @for (chapter of scriptureService.selectedBookChapters; track chapter.book_id) {
            <mat-list-item>
                <button
                    mat-stroked-button
                    class="btn-accent"
                    [class.active-chapter]="
                        chapter.book_id === scriptureService.selectedBook?.id && chapter.chapter === scriptureService.selectedChapter?.chapter
                    "
                    (click)="onChapterSelected(chapter)"
                    tabindex="-1">
                    Chapter {{ chapter.chapter }}
                </button>
            </mat-list-item>
        }
    }
</mat-list>
