@use '@angular/material' as mat;

:host {
    padding: 20px;
}

:host mat-list-item button {
    width: 100%;
}

.active-book {
    background-color: #fce8ef !important;
}

.dark-theme .active-book {
    background-color: #322e2f !important;
}

.active-chapter {
    background-color: #dfe4fe !important;
}

.dark-theme .active-chapter {
    background-color: #2c2d32 !important;
}

.chapter-button {
    white-space: pre;
}