.sidenav-button {
    padding-bottom: 15px;
}

.sidenav-button button {
    z-index: 0 !important;
}

.select-form mat-form-field {
    width: 100%;
    margin-top: 35px;
}

.chapter-verse {
    margin-top: 15px;
}

.chapter-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    margin: 15px 0;
}

.chapter-buttons button {
    flex: 1 1 100%;
    justify-content: center;
    z-index: 0 !important;
}
