<form class="select-form" [formGroup]="scriptureService.selectForm" (ngSubmit)="scriptureService.onTranslationChange()">
    <mat-form-field appearance="outline">
        <mat-label>Select Translation</mat-label>
        <mat-select formControlName="translation" (selectionChange)="scriptureService.onTranslationChange()">
            @for (translation of scriptureService.bibleTranslations; track translation.identifier) {
                <mat-option [value]="translation.identifier">
                    {{ translation.name }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
</form>

@if (scriptureService.selectedBooks) {
    <div class="sidenav-button">
        <button mat-stroked-button color="accent" (click)="onToggleSidenav()" tabindex="-1">
            <mat-icon matSuffix>arrow_back</mat-icon>
            <span>Select a book & chapter</span>
        </button>
    </div>
}

@if (scriptureService.chapterVerseString) {
    <div class="chapter-verse">
        <h2>{{ scriptureService.bookChapterString }}</h2>
        <mat-list>
            <span [innerHtml]="scriptureService.chapterVerseString"></span>
        </mat-list>
    </div>
}
