<footer class="footer" [class.dark-theme]="themeService.isDarkTheme">
    <mat-toolbar>
        <button mat-button routerLink="/home" routerLinkActive="active-menu-item">
            <div class="toolbar-icon">
                <mat-icon>home</mat-icon>
            </div>
            <div class="toolbar-icon-text">
                <span>quick</span>
            </div>
        </button>

        <button mat-button routerLink="/scripture" routerLinkActive="active-menu-item">
            <div class="toolbar-icon">
                <mat-icon>manage_search</mat-icon>
            </div>
            <div class="toolbar-icon-text">
                <span>scripture</span>
            </div>
        </button>

        <button mat-button routerLink="/about" routerLinkActive="active-menu-item">
            <div class="toolbar-icon">
                <mat-icon>help</mat-icon>
            </div>
            <div class="toolbar-icon-text">
                <span>about</span>
            </div>
        </button>
    </mat-toolbar>
</footer>
