@use "@angular/material" as mat;

.footer {
    position: fixed;
    bottom: 0px;
    overflow: hide;
    width: 100%;
    height: 56px;
}

.footer .mat-toolbar {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    height: 100%;
    border-top: 1px solid lightgray;
    @include mat.toolbar-overrides(
        (
            container-background-color: whitesmoke,
            container-text-color: rgba(0, 0, 0, 0.87)
        )
    );
}

.dark-theme .mat-toolbar {
    border-top: grey;
    @include mat.toolbar-overrides(
        (
            container-background-color: grey,
        )
    );
}

.footer button {
    min-width: 100px;
    flex: 1 1 auto;
    height: 100%;
}

.footer button:hover {
    background-color: #f1f1f1;
}

.toolbar-icon {
    line-height: 0; // Set to zero or will affect spacing between icon and text
}

.toolbar-icon-text {
    line-height: 1.8; // Proper spacing between icon and text
    font-size: 70%; // Smaller text size for proper display under icon
}

.active-menu-item {
    color: #3d5afe !important;
}

.dark-theme .active-menu-item {
    color: #d8defe !important;
}
