mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100vh; // Component content fills entire verticle space
}

mat-sidenav {
    width: 60vw; // Width sidenav takes up when open
}

.header {
    width: 100%;
    position: fixed; // Keeps header at top of page
    z-index: 1; // Keeps header on top of other content
}

// Component content area
.container {
    top: 30px;
    height: calc(100vh - 130px);
    position: relative;
    overflow: auto; // Keeps header from scrolling away
    padding: 20px; // Component conent padding around edges
}
