<mat-sidenav-container fullscreen [class.dark-theme]="themeService.isDarkTheme">
    <mat-sidenav #sidenav role="navigation" mode="push">
        <app-sidenav (sideNavClosed)="sidenav.close()"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-top-bar class="header" [title]="title"></app-top-bar>

        <main class="container mat-app-background">
            <router-outlet></router-outlet>
        </main>

        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
