@use '@angular/material' as mat;

:host mat-card {
    margin-top: 20px;
}

.theme-button-toggle {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.mat-button-toggle-group {
    @include mat.button-toggle-overrides(
        (
            shape: 15px
        )
    )
}

.mat-button-toggle {
    min-width: 10rem;
}

.install-pwa-button-container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.install-pwa-button-container button {
    min-width: 10rem;
}

.images {
    height: 20rem;
    width: 20rem;
    justify-items: center;
}

.images img {
    max-height: 100%;
    max-width: 100%;
}