:host mat-card {
    margin-top: 20px;
}

.install-pwa-button-container button {
    width: 100%;
}

.images {
    height: 20rem;
    width: 20rem;
    justify-items: center;
}

.images img {
    max-height: 100%;
    max-width: 100%;
}