<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>About</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Version: 1.0.1</p>
        <p>A simple application for searching and viewing Bible verses.</p>
        <p>
            Uses
            <a href="https://bible-api.com/" target="_blank">bible-api.com</a>
            for the backend service.
        </p>
        <div class="theme-button-toggle">
            <mat-button-toggle-group
                [(value)]="themeService.theme"
                #themeToggle="matButtonToggleGroup"
                (change)="themeService.toggleTheme(themeToggle.value)">
                <mat-button-toggle value="light">Light Theme</mat-button-toggle>
                <mat-button-toggle value="dark">Dark Theme</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="images">
            <img src="assets/buddy_christ_by_chrisbryer.png" alt="Not my image" />
        </div>
    </mat-card-content>
</mat-card>

@if (showInstallButton) {
    <div class="install-pwa-button-container">
        <button mat-stroked-button color="primary" (click)="installPwa()">Add to Desktop</button>
    </div>
}
