:host {
    height: 100vh;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-form > * {
    flex: 1 1 auto;
}

.search-form > mat-form-field {
    width: 100%;
    margin-top: 1rem;
}

.search-form > button {
    width: 100%;
    margin-top: 1rem;
    height: 42px;
    z-index: 0;
}

.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.search-results h2 {
    margin-bottom: 0;
}

.search-results-list {
    width: 100%;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-results-list > span {
    display: block;
    padding: 0.8rem;
}