<div class="search-header">
    <h1>Search Verses</h1>
    <p>Search for Bible verses by typing in the book name and chapter number.</p>
    <p>Ex: John 3:16</p>
</div>

<form class="search-form" [formGroup]="homeService.searchForm" (ngSubmit)="homeService.search()">
    <mat-form-field appearance="outline">
        <mat-label>Search Bible Verses</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput formControlName="searchInput" />
        <mat-icon matSuffix *ngIf="homeService.searchForm.get('searchInput')?.value" (click)="homeService.clearSearch()">close</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Select Translation</mat-label>
        <mat-select formControlName="translation" (selectionChange)="homeService.onTranslationSelected($event)">
            <mat-option *ngFor="let translation of homeService.bibleTranslations()" [value]="translation.identifier">
                {{ translation.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="!homeService.searchForm.valid">Search</button>

    @if (homeService.chapter) {
        <mat-card class="search-results" appearance="outlined">
            <mat-card-header>
                <mat-card-title>Search Results</mat-card-title>
                <mat-card-subtitle>
                    {{ homeService.chapter.reference }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <span [innerHtml]="homeService.resultVerse"></span>
            </mat-card-content>
        </mat-card>
    }
</form>
