@use "@angular/material" as mat;

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    vertical-align: middle;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 20px;
}

.search-form-input {
    flex: 1 1 100%;
}

.search-form-select {
    flex: 1 1 100%;
}

.search-form > mat-form-field {
    width: 100%;
    margin-top: 0.3rem;
}

.search-form > button {
    width: 100%;
    margin-top: 0.3rem;
    z-index: 0;
    flex: 1 1 200px;
}

.search-results {
    width: 100%;
    margin-top: 1rem;
    @include mat.card-overrides(
        (
            title-text-weight: 900
        )
    )
}

.mat-mdc-card-header {
    text-align: center;
    justify-content: center;
}

.mat-mdc-card-subtitle {
    margin: 8px 0 5px 0;
}

.mat-mdc-card-content {
    justify-content: center;
}

.clickable-card {
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.clickable-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}